process {

  maxRetries = 2
  maxErrors = '-1'
  errorStrategy = 'retry' 
  
   withName: copy_sumstats {    
    memory = { check_max( 512.MB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 10.m * task.attempt, 'time' ) }
  }
    withName: copy_susie {    
    memory = { check_max( 512.MB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 10.m * task.attempt, 'time' ) }
  }
      withName: concate_QTD_susie_full {    
    memory = { check_max( 26.GB * task.attempt, 'memory' ) }
    cpus = 2
    time = { check_max( 4.h * task.attempt, 'time' ) }
  }
      withName: copy_concatenated_susie_batches {    
    memory = { check_max( 512.MB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 10.m * task.attempt, 'time' ) }
  }
    withName: check_pqs {    
    memory = { check_max( 1.GB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 45.m * task.attempt, 'time' ) }
  }
     withName: count_subfolder_pqs {    
    memory = { check_max( 512.MB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 10.m * task.attempt, 'time' ) }
  }    
     withName: detect_corrupted_files {    
    memory = { check_max( 512.MB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 5.m * task.attempt, 'time' ) }
  }
       withName: cs_stats {    
    memory = { check_max( 1.GB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 10.m * task.attempt, 'time' ) }

  }
         withName: calculate_md5 {    
    memory = { check_max( 1.GB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 3.h * task.attempt, 'time' ) }
  }
}

params {
  max_memory = 20.GB
  max_cpus = 2
  max_time = 24.h
}
