process {

  maxRetries = 2
  maxErrors = '-1'
  errorStrategy = 'retry' 
  
  withName: check_pqs {    
    memory = { check_max( 900.MB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 2.h * task.attempt, 'time' ) }
  }
}

params {
  max_memory = 20.GB
  max_cpus = 2
  max_time = 24.h
}
