params {
  max_memory = 4.GB
  max_cpus   = 2
  max_time   = 30.m

  outdir = "$baseDir/testdata"
  input  = "/gpfs/helios/home/a82371/CHECK_QTLMAP_OUTPUTS/data/testdata/test_publish_input.tsv"
}

process {
  queue = 'testing'
  memory = { check_max( 512.MB * task.attempt, 'memory' ) }
  cpus = 1
  time = { check_max( 5.m * task.attempt, 'time' ) }

  maxRetries = 2
  maxErrors  = '-1'
  errorStrategy = 'retry'

  // Only override heavy job
  withName: concate_QTD_susie_full {
    cpus = 1
    memory = { check_max(1.GB * task.attempt, 'memory') }
    time = { check_max(15.m * task.attempt, 'time') }
  }
}

