
params {
  max_memory = 1.GB
  max_cpus = 1
  max_time = 10.m

  outdir = "$baseDir/testdata"
  input="/gpfs/helios/home/a82371/CHECK_QTLMAP_OUTPUTS/data/testdata/test_publish_input.tsv"
}

process {
  queue = 'testing'
  maxRetries = 2
  maxErrors = '-1'
  errorStrategy = 'retry' 
  
  withName: copy_sumstats {    
    memory = { check_max( 200.MB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 5.m * task.attempt, 'time' ) }
    queue = 'testing'
  }
    withName: copy_susie {    
    memory = { check_max( 200.MB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 5.m * task.attempt, 'time' ) }
    queue = 'testing'
  }
      withName: concate_QTD_susie_full {    
    memory = { check_max( 1.GB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 7.m * task.attempt, 'time' ) }
    queue = 'testing'
  }
        withName: copy_concatenated_susie_batches {    
    memory = { check_max( 300.MB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 7.m * task.attempt, 'time' ) }
  }
    withName: check_pqs {    
    memory = { check_max( 900.MB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 6.m * task.attempt, 'time' ) }
  }
     withName: count_subfolder_pqs {    
    memory = { check_max( 900.MB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 4.m * task.attempt, 'time' ) }
  }    
     withName: detect_corrupted_files {    
    memory = { check_max( 900.MB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 4.m * task.attempt, 'time' ) }
  }
       withName: cs_stats {    
    memory = { check_max( 1.GB * task.attempt, 'memory' ) }
    cpus = 1
    time = { check_max( 5.m * task.attempt, 'time' ) }
    queue = 'testing'

  }
}

